@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


body {
    margin: 0;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
    background-image: url("../img/landscape.jpg");
    background-color: #e7e4e4;
    color: #333333;
}

.niebieski {
    --main-color: #267aad;
}

.żółty {
    --main-color: #cbb850;
}

.fioletowy {
    --main-color: #9251c5;
}

.zielony {
    --main-color: #2fa654;
}

.czerwony {
    --main-color: #c45151;
}

.logo-title h1 {
    /*-webkit-transform:  rotate(-3deg);*/
    /*-moz-transform:  rotate(356deg);*/
    /*-ms-transform:  rotate(356deg);*/
    /*-o-transform:  rotate(356deg);*/
    transform:  rotate(-2deg);
}

h1 {
    margin: 40px;
    margin-top: 30px;
}

.dice {
    margin: 10px;
    padding: 4px;
    width: 104px;
    height: 104px;
    border-radius: 10%;
    text-align: center;
    font-size: 40px;
    background-color: var(--main-color);
    border: none;
    color: white;
    box-shadow: 10px 14px 37px -14px rgba(66, 68, 90, 1);
    -webkit-box-shadow: 10px 14px 37px -14px rgba(66, 68, 90, 1);
    -moz-box-shadow: 10px 14px 37px -14px rgba(66, 68, 90, 1);
}

.dice:hover {
    transform: scale(1.1) rotate(2deg);
    -webkit-transform: scale(1.1) rotate(2deg);
    -moz-transform: scale(1.1) rotate(2deg);
    -ms-transform: scale(1.1) rotate(2deg);
    -o-transform: scale(1.1) rotate(2deg);
    transition: transform 0.2s ease;
    -webkit-transition: transform 0.2s ease;
    -moz-transition: transform 0.2s ease;
    -ms-transition: transform 0.2s ease;
    -o-transition: transform 0.2s ease;
}

.board {
    display: inline-block;
    padding: 10px 25px;
    width: 937px;
    background-color: #464343;
    border-radius: 30px;
    -webkit-box-shadow: 2px 7px 35px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 7px 35px -1px rgba(66, 68, 90, 1);
    box-shadow: 2px 7px 35px -1px rgba(66, 68, 90, 1);
}

.board-field {
    display: inline-block;
    z-index: 3;
    width: 120px;
    height: 120px;
    background-image: url("../img/glacier.svg");
    background-size: contain;
    margin: 5px;
    padding: 4px;
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.field-number {
    margin-top: auto;
    text-align: center;
}

.mushroom {
    background-image: url("../img/mountain.svg");
}

.points {
    text-align: center;
}

.card {
    width: 400px;
    padding: 20px;
}

.btn-rules {
    margin: 20px;
    width: 400px;
    display: block;
}

.penguin-card {
    width: 70px;
    height: 70px;
    margin: 8px;
}

.penguin-board {
    width: 90px;
    height: 90px;
    padding: -10px;
    margin: -35px;
    z-index: 10;
}

/*path {*/
/*    fill: var(--main-color);*/
/*}*/

.tux {
    fill: var(--main-color);
}

.points-div {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10px;
    display: inline-block;
    background-color: #ffffff;

}

.snail-card {
    width: 200px;
    height: 290px;
}