{% extends 'base.html' %}
{% block head %}
<title>Pędzące Ślimaki - wybór graczy</title>
{% endblock %}

{% block body %}
    <div class="row">
        {% include 'components/_logo.html' %}
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <form action="/hotseat_players" method="post">
                <div class="d-grid gap-3 card mx-auto">
                    <h2>Dodaj graczy</h2>
                    <div class="form-group">
                        <label for="players">Wpisz imiona graczy po przecinku:</label>
                        <input type="text" class="form-control my-2" id="players" name="players" aria-describedby="emailHelp" placeholder="Radek, Ania...">
                        <small id="emailHelp" class="form-text text-muted">Możesz wpisać maksymalnie 5 graczy.</small>
                    </div>
                    <div class="form-group">
                        <label for="cpu-players">Liczba graczy CPU</label>
                        <input type="range" class="form-control-range mx-2" id="cpu-players" name="cpu-players" min="0" max="4" step="1" value="0" oninput="this.nextElementSibling.value = this.value">
                        <output>0</output>
                    </div>
                    <button class="btn btn-lg btn-success m-2" type="submit" name="submit_button" value="online">Dodaj graczy</button>
                </div>
            </form>
            <a class="btn btn-secondary m-3" href="/">Powrót do menu</a>
        </div>
    </div>

{% endblock %}