{% extends 'base.html' %}
{% block head %}
<title>Dupa</title>
{% endblock %}

{% block body %}
    <div class="row">
        <h1>Kolej gracza: {{ gra.currentPlayer.name }}</h1>
        {% for player in gra.players %}
            {{ player.name }}: {{ player.points }}
        {% endfor %}
    </div>
    <div class="row">
    {% for pole in gra.board %}
        <div class="board-field bg-image{% if pole.type == "grzyb" %} mushroom {% endif %}">
            {{ pole.value }}
            {% for snail in pole.snails %}
                <img class="tux {{ snail.color }}" src="{{ url_for('static', filename='img/tux.svg') }}" alt="tux" style="">
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <h1>Kostki</h1>
    <form action="/hotseat" method="post">
    {% for kostka in kostki.currentDices %}
        <button type="submit" name="dice" value="{{ kostka.color }}" class="dice {{ kostka.color }}">
            {{ kostka.value }}
        </button>
    {% endfor %}
    </form>
{% endblock %}