{% extends 'base.html' %}
{% block head %}
<title>Pędzące Ślimaki - gra</title>
{% endblock %}

{% block body %}
    <div class="row text-center">
        <div class="col-12 my-5">
            <img class="" src="{{ url_for('static', filename='img/penguin.svg') }}" alt="tux" style="width: 80px; height: 70px;">
            <h1 class="m-0">Pędzące <s>ślimaki</s> <b>Pingwiny</b></h1>
        </div>
        <div class="col-12">
            <div class="d-grid gap-3 card mx-auto">
                <h2>Wybierz tryb gry</h2>
                <a class="btn btn-primary btn-lg" href="/hotseat_players">Gorące krzesło</a>
                <a class="btn btn-success btn-lg" href="/new_online">Online</a>
            </div>
        </div>
        <div class="col-12">
            <button class="btn-rules btn btn-secondary mx-auto" onclick="toggleDiv()">Zasady gry</button>
        </div>
        <div id="rules" class="col-12" style="display: none;">
            <div class="card mx-auto">
                <h2>Zasady gry</h2>
                <p>Celem gry jest dupa chuj</p>
            </div>
        </div>
    </div>

<script>
    function toggleDiv() {
        let div = document.getElementById("rules");
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>

{% endblock %}