{% extends 'base.html' %}
{% block head %}
<title>Pędzące Ślimaki - gra</title>
{% endblock %}

{% block body %}
    <div class="row text-center">
        {% include 'components/_logo.html' %}
        <div class="col-12 col-md-6 col-lg-4 mx-auto">
            <div class="d-grid gap-3 card mx-auto">
                <h2>Wybierz tryb gry</h2>
                <a class="btn btn-primary btn-lg" href="/hotseat_players">Gorące krzesło</a>
                <a class="btn btn-success btn-lg" href="/new_online">Online</a>
            </div>
            <button class="btn-rules btn btn-secondary mx-auto w-100 m-3" onclick="toggleDiv()">Zasady gry</button>
        </div>
        <div id="rules" class="col-12 col-md-10 mx-auto m-3" style="display: none;">
            <div class="card text-start ">
                <h2 class="text-center">Zasady gry</h2>
                <h3 id="cel-gry">Cel Gry</h3>
                <p>Na początku gracze losują 2 pingwiny, które będą dodatkowo premiowane na końcu rundy, nie ujawniają ich przeciwnikom. W trakcie gry gracze mogą przemieszczać dowolne pingwiny, nie tylko swoje.</p>
                <p>Gra się kończy, gdy 1 z pingwinów dojdzie do ostatniego pola. Gracze odkrywają karty i zdobywają punkty za miejsca zajęte przez swoje pingwiny. Dodatkowo, w trakcie rozgrywki można zdobyć punkty za wejście dowolnym pingwinem na pole specjalne oraz za przepychanie innych pingwinów. Wygra gracz, który na koniec gry będzie mieć w sumie najwięcej punktów.</p>
                <h3 id="przebieg-gry">Przebieg Gry</h3>
                <p>Zaczyna gracz, który ostatnio jadł grzyby (albo najmłodszy gracz).</p>
                <p>Rzuca 5 kostkami.
                Wybiera 1 dowolną kostkę i przemieszcza pingwina w kolorze wybranej kostki o tyle pól, ile na niej wypadło.
                Teraz do gry przystępuje kolejny gracz. Wykonuje takie działania jak poprzednik, z tą różnicą, że rzuca już tylko 4 kostkami. Następny gracz rzuca 3 kostkami i tak dalej. Gdy zostanie tylko jedna kostka rzucane są ponownie wszystkie.</p>
                <blockquote>
                <p><em>Uwaga! Gracze mogą poruszać się dowolnymi pingwinami, nie tylko swoimi.</em></p>
                </blockquote>
                <h4 id="symbol-pingwina">Symbol Pingwina</h4>
                <p>Jeżeli gracz wybrał kostkę z symbolem pingwina, to przemieszcza pingwina w kolorze kostki o 2 pola. Kostka z pingwinem nie jest odkładana (zostaje przekazana z resztą kostek).</p>
                <h3 id="zdobywanie-punkt-w">Zdobywanie Punktów</h3>
                <p><strong>Punkty zdobywa się za:</strong></p>
                <ul>
                <li>Przepchnięcie innego Pingwina.</li>
                <li>Zakończenie ruchu na Polu Premii.</li>
                <li>Na koniec gry za zajęcie punktowanych miejsc.</li>
                <li>Przepchnięcie innego Pingwina</li>
                </ul>
                <p>Gdy pingwin zakończy ruch na listku z innym pingwinem/pingwinami, spycha wszystkie o 1 pole do tyłu. Za każdego w ten sposób przepchniętego pingwina gracz otrzymuje 1 punkt.</p>
                <blockquote>
                <p><em>Uwaga! Gdy pingwiny zostaną przepchnięte na pole z innymi pingwinami, nic się nie dzieje – nie przepychają ich dalej.</em></p>
                </blockquote>
                <h4 id="zako-czenie-ruchu-na-polu-premii">Zakończenie Ruchu na Polu Premii</h4>
                <p>Gdy gracz zakończy ruch Pingwinem na Polu Premii, otrzymuje 1 punkt.</p>
                <p>Za Pingwiny, które cofną się na Pole Premii (w wyniku przepchnięcia), nie zdobywa się punktów.</p>
                <blockquote>
                <p><em>Uwaga! Na tych polach pingwiny się nie przepychają.</em></p>
                </blockquote>
                <h3 id="koniec-gry-i-punktacja">Koniec Gry i Punktacja</h3>
                <p>Gra kończy się, gdy jeden z Pingwinów dojdzie do ostatniego pola (nie trzeba wyrzucić dokładnej liczby oczek – można więcej).</p>
                <p>Gracz, który przemieścił pingwina na ostatnie pole, zdobywa dodatkowo 1 punkt.</p>
                <p><strong>Następnie wszyscy gracze sprawdzają, czy ich Pingwiny znajdują się na punktowanych pozycjach:</strong></p>
                <ul>
                <li>Pierwszy Pingwin: +5 punktów</li>
                <li>Drugi Pingwin: +2 punkty</li>
                <li>Ostatni Pingwin: +3 punkty</li>
                </ul>
                <p>Punkty są zliczane i typowany jest zwycięzca. Możliwe są remisy.</p>
            </div>
        </div>
    </div>

<script>
    function toggleDiv() {
        let div = document.getElementById("rules");
        if (div.style.display === "none") {
            div.style.display = "block";
        } else {
            div.style.display = "none";
        }
    }
</script>

{% endblock %}